<link rel="stylesheet" href="/css/productdetails.css" />



<h1><%= store.user.businessName %></h1>



<label for="">Search Your Product </label>
<input type="text" id="searchBar" />
<button id="searchBtn"  value="<%=store.id%>">Search</button>

<div class="main-container">
  <% if(products){%> <% for(let i = 0; i < products.length; i++){%>
  <div class="product-body">
    <div class="card">
      <div class="header"><%= products[i].productname %></div>
      <div class="details">
        <div class="details-name">
            <img src="/image/<%= products[i].productimg %>" alt="Procut img" width="100" />
        </div>
      </div>
      <div class="body">
        <div class="details">
          <div class="details-name">MRP: <%= products[i].mrp %></div>
        </div>
        <div class="details">
          <div class="details-name">SP: <%= products[i].sp %></div>
        </div>
        <div class="details">
          <div class="details-name">qty: <%= products[i].qty %></div>
        </div>
      </div>
    </div>
  </div>
  <% } %> <% }else{%>
  <h3>No Products to display</h3>
  <% } %>
</div>

<script src="/js/searchProduct.js"></script>