<% if( locals.user.store) { %>
<div>

  <br><br>
  <img src="/image/<%= locals.user.store.logo %>" alt="<%= locals.user.name%>" width="100" />
  <br><br>
   
  <p>Owner Name : <%= locals.user.name%></p>
  <p>Bussiness Name: <%= locals.user.businessName %></p>

  <p>Email : <%= locals.user.email%></p>

  <p>Store Address : <%= locals.user.store.address%></p>

  <p>Store Gst no. : <%= locals.user.store.gst%></p>
  <p>
    Store Timing : <%= locals.user.store.openTime%> to <%=
    locals.user.store.closeTime%>
  </p>

  <button><a href="/user/dashboad/storeinfo/destroy">Delete</a></button>
</div>
<%} else { %>

<h1 id="page-title">Welcome <%= locals.user.name%></h1>
<p>Please Add Your Store Information Below</p>

<form action="/user/dashboad/storeinfo/creat-store" method="post" enctype="multipart/form-data">
  <h1>Add Store Info</h1>
  <br /><br />

  <label for="logo">Add Your Store Logo : </label>
      <input type="file" name="file" id="logo" required />
      <br /><br />

  <label for="address">Address :</label>
  <textarea
    name="address"
    id="address"
    cols="30"
    rows="1"
    placeholder="Enter Your Address..."
    required
  ></textarea>
  <br /><br />

  <label for="gst">Gst no. :</label>
  <input
    type="text"
    name="gst"
    id="gst"
    placeholder="Your Gst Number..."
    required
  />
  <br /><br />

  <label for="storeTime">Store Time :</label>
  <input type="time" name="openTime" id="openTime" required />

  <input type="time" name="closeTime" id="closeTime" required />
  <br /><br />

  <input type="submit" id="storeInfo" value="Add Details" />
</form>
<% } %>
